# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/_ReSharper.auto/AspFileDataCache.dat
/_ReSharper.auto/BuildScriptCache/.crc
/_ReSharper.auto/BuildScriptCache/.version
/_ReSharper.auto/BuildScriptCache/4/194fc35b.dat
/_ReSharper.auto/JavaScriptCache/.crc
/_ReSharper.auto/JavaScriptCache/.version
/_ReSharper.auto/JavaScriptCache/4/136b0339.dat
/_ReSharper.auto/JbPdbInfo/13a4a1d8ff261c240ff08b082f554ce47f05b270
/_ReSharper.auto/MVC/.crc
/_ReSharper.auto/MVC/.version
/_ReSharper.auto/ModuleIds.xml
/_ReSharper.auto/NamedArguments/.crc
/_ReSharper.auto/NamedArguments/.version
/_ReSharper.auto/NamedArguments/4/136b0339.dat
/_ReSharper.auto/Resources/.crc
/_ReSharper.auto/Resources/.version
/_ReSharper.auto/Resources/6/1fb3fddf.dat
/_ReSharper.auto/SymbolCache.bin
/_ReSharper.auto/TagPrefixes/.crc
/_ReSharper.auto/TagPrefixes/.version
/_ReSharper.auto/TodoCache/.crc
/_ReSharper.auto/TodoCache/.version
/_ReSharper.auto/TodoCache/4/136b0339.dat
/_ReSharper.auto/WebSymbols/.crc
/_ReSharper.auto/WebSymbols/.version
/_ReSharper.auto/WordIndex/.crc
/_ReSharper.auto/WordIndex/.version
/_ReSharper.auto/WordIndex/6/1fb3fddf.dat
/_ReSharper.auto/XmlIndex/Accessibility.xml/42A4FEE7.bin
/_ReSharper.auto/XmlIndex/Accessibility.xml/AD80147B.bin
/_ReSharper.auto/XmlIndex/Accessibility.xml/F0A92E29.bin
/_ReSharper.auto/XmlIndex/Emgu.CV.GPU.xml/EAD8B720.bin
/_ReSharper.auto/XmlIndex/Emgu.CV.ML.xml/4D975563.bin
/_ReSharper.auto/XmlIndex/Emgu.CV.UI.xml/16A642FE.bin
/_ReSharper.auto/XmlIndex/Emgu.CV.xml/F312674C.bin
/_ReSharper.auto/XmlIndex/Microsoft.Build.Framework.3.5.0.0.Nullness.Generated.xml/D18EF347.bin
/_ReSharper.auto/XmlIndex/Microsoft.Build.Framework.4.0.0.0.Nullness.Generated.xml/67AD9085.bin
/_ReSharper.auto/XmlIndex/Microsoft.Build.Framework.xml/5F3711F9.bin
/_ReSharper.auto/XmlIndex/Microsoft.Build.Tasks.v4.0.4.0.0.0.Nullness.Generated.xml/675DB385.bin
/_ReSharper.auto/XmlIndex/Microsoft.Build.Tasks.v4.0.xml/DD37DD69.bin
/_ReSharper.auto/XmlIndex/Microsoft.Build.Utilities.v4.0.4.0.0.0.Nullness.Generated.xml/B93C8445.bin
/_ReSharper.auto/XmlIndex/Microsoft.Build.Utilities.v4.0.xml/35B989D1.bin
/_ReSharper.auto/XmlIndex/Microsoft.CSharp.2.0.5.0.Nullness.Generated.xml/9299C386.bin
/_ReSharper.auto/XmlIndex/Microsoft.CSharp.4.0.0.0.Nullness.Generated.xml/6F9F1465.bin
/_ReSharper.auto/XmlIndex/Microsoft.CSharp.xml/36596F94.bin
/_ReSharper.auto/XmlIndex/Microsoft.Transactions.Bridge.3.0.0.0.Nullness.Generated.xml/E2C18DA2.bin
/_ReSharper.auto/XmlIndex/Microsoft.Transactions.Bridge.4.0.0.0.Nullness.Generated.xml/081AD685.bin
/_ReSharper.auto/XmlIndex/Microsoft.Transactions.Bridge.xml/D0502C7B.bin
/_ReSharper.auto/XmlIndex/Microsoft.VisualC.xml/206902E4.bin
/_ReSharper.auto/XmlIndex/Microsoft.VisualC.xml/434CE2AA.bin
/_ReSharper.auto/XmlIndex/SMDiagnostics.3.0.0.0.Nullness.Generated.xml/386756A2.bin
/_ReSharper.auto/XmlIndex/SMDiagnostics.4.0.0.0.Nullness.Generated.xml/5DC09F85.bin
/_ReSharper.auto/XmlIndex/System.2.0.0.0.Contracts.xml/ACE9F313.bin
/_ReSharper.auto/XmlIndex/System.2.0.0.0.Nullness.Generated.xml/3C0B2023.bin
/_ReSharper.auto/XmlIndex/System.2.0.0.0.Pure.xml/70726AE0.bin
/_ReSharper.auto/XmlIndex/System.2.0.5.0.Contracts.xml/C2F62216.bin
/_ReSharper.auto/XmlIndex/System.2.0.5.0.Nullness.Generated.xml/CA88A106.bin
/_ReSharper.auto/XmlIndex/System.2.0.5.0.Pure.xml/8471A5C5.bin
/_ReSharper.auto/XmlIndex/System.4.0.0.0.Contracts.xml/CB2CD195.bin
/_ReSharper.auto/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/A78DF1E5.bin
/_ReSharper.auto/XmlIndex/System.4.0.0.0.Pure.xml/BD2DD326.bin
/_ReSharper.auto/XmlIndex/System.Configuration.2.0.0.0.Contracts.xml/BE708FD3.bin
/_ReSharper.auto/XmlIndex/System.Configuration.2.0.0.0.Nullness.Generated.xml/12BC96E3.bin
/_ReSharper.auto/XmlIndex/System.Configuration.2.0.0.0.Pure.xml/39D23020.bin
/_ReSharper.auto/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/C74E5155.bin
/_ReSharper.auto/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/B213A5A5.bin
/_ReSharper.auto/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/9E6D9A66.bin
/_ReSharper.auto/XmlIndex/System.Configuration.Install.2.0.0.0.Contracts.xml/37217973.bin
/_ReSharper.auto/XmlIndex/System.Configuration.Install.2.0.0.0.Nullness.Generated.xml/5FDA4143.bin
/_ReSharper.auto/XmlIndex/System.Configuration.Install.4.0.0.0.Contracts.xml/003BB6F5.bin
/_ReSharper.auto/XmlIndex/System.Configuration.Install.4.0.0.0.Nullness.Generated.xml/3B545305.bin
/_ReSharper.auto/XmlIndex/System.Configuration.Install.xml/0361F853.bin
/_ReSharper.auto/XmlIndex/System.Configuration.Install.xml/702AE6DD.bin
/_ReSharper.auto/XmlIndex/System.Configuration.xml/4BCD0032.bin
/_ReSharper.auto/XmlIndex/System.Configuration.xml/AE1C9B2E.bin
/_ReSharper.auto/XmlIndex/System.Configuration.xml/ED8E743C.bin
/_ReSharper.auto/XmlIndex/System.Core.2.0.5.0.Contracts.xml/88E275B6.bin
/_ReSharper.auto/XmlIndex/System.Core.2.0.5.0.Nullness.Generated.xml/EEE09AE6.bin
/_ReSharper.auto/XmlIndex/System.Core.2.0.5.0.Pure.xml/8EA7AFE5.bin
/_ReSharper.auto/XmlIndex/System.Core.3.5.0.0.Contracts.xml/EB2D79B7.bin
/_ReSharper.auto/XmlIndex/System.Core.3.5.0.0.Nullness.Generated.xml/FE09EF07.bin
/_ReSharper.auto/XmlIndex/System.Core.3.5.0.0.Pure.xml/691F7784.bin
/_ReSharper.auto/XmlIndex/System.Core.4.0.0.0.Contracts.xml/9AD60735.bin
/_ReSharper.auto/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/E80E4945.bin
/_ReSharper.auto/XmlIndex/System.Core.4.0.0.0.Pure.xml/54A41C46.bin
/_ReSharper.auto/XmlIndex/System.Core.LinqTunnel.xml/9D7E5F22.bin
/_ReSharper.auto/XmlIndex/System.Core.Nullness.Manual.xml/9EE119F4.bin
/_ReSharper.auto/XmlIndex/System.Core.xml/2031C245.bin
/_ReSharper.auto/XmlIndex/System.Core.xml/DE6CCD17.bin
/_ReSharper.auto/XmlIndex/System.Core.xml/FCDC8DA4.bin
/_ReSharper.auto/XmlIndex/System.Data.2.0.0.0.Contracts.xml/F81F0033.bin
/_ReSharper.auto/XmlIndex/System.Data.2.0.0.0.Nullness.Generated.xml/63BCC603.bin
/_ReSharper.auto/XmlIndex/System.Data.2.0.0.0.Pure.xml/D9D0DE80.bin
/_ReSharper.auto/XmlIndex/System.Data.4.0.0.0.Contracts.xml/562562B5.bin
/_ReSharper.auto/XmlIndex/System.Data.4.0.0.0.Nullness.Generated.xml/931C94C5.bin
/_ReSharper.auto/XmlIndex/System.Data.4.0.0.0.Pure.xml/268C47C6.bin
/_ReSharper.auto/XmlIndex/System.Data.DataSetExtensions.3.5.0.0.Nullness.Generated.xml/F7041587.bin
/_ReSharper.auto/XmlIndex/System.Data.DataSetExtensions.4.0.0.0.Nullness.Generated.xml/E1086FC5.bin
/_ReSharper.auto/XmlIndex/System.Data.DataSetExtensions.I18n.xml/B10FD33E.bin
/_ReSharper.auto/XmlIndex/System.Data.DataSetExtensions.xml/D6BDF0B8.bin
/_ReSharper.auto/XmlIndex/System.Data.I18n.xml/2A02383E.bin
/_ReSharper.auto/XmlIndex/System.Data.OracleClient.2.0.0.0.Nullness.Generated.xml/204EC743.bin
/_ReSharper.auto/XmlIndex/System.Data.OracleClient.4.0.0.0.Nullness.Generated.xml/FBC8D905.bin
/_ReSharper.auto/XmlIndex/System.Data.OracleClient.xml/2407BC73.bin
/_ReSharper.auto/XmlIndex/System.Data.OracleClient.xml/283BB47D.bin
/_ReSharper.auto/XmlIndex/System.Data.SqlXml.2.0.0.0.Nullness.Generated.xml/F4834143.bin
/_ReSharper.auto/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/CFFD5305.bin
/_ReSharper.auto/XmlIndex/System.Data.SqlXml.xml/1EDB766B.bin
/_ReSharper.auto/XmlIndex/System.Data.SqlXml.xml/29D36665.bin
/_ReSharper.auto/XmlIndex/System.Data.SqlXml.xml/FCA68F77.bin
/_ReSharper.auto/XmlIndex/System.Data.xml/66DFF16E.bin
/_ReSharper.auto/XmlIndex/System.Data.xml/9F30193C.bin
/_ReSharper.auto/XmlIndex/System.Data.xml/BB99F9F2.bin
/_ReSharper.auto/XmlIndex/System.Deployment.2.0.0.0.Nullness.Generated.xml/A0F69283.bin
/_ReSharper.auto/XmlIndex/System.Deployment.4.0.0.0.Nullness.Generated.xml/D0566145.bin
/_ReSharper.auto/XmlIndex/System.Deployment.xml/032EC5F5.bin
/_ReSharper.auto/XmlIndex/System.Deployment.xml/7A4BEEBB.bin
/_ReSharper.auto/XmlIndex/System.Deployment.xml/AE223127.bin
/_ReSharper.auto/XmlIndex/System.Design.2.0.0.0.Nullness.Generated.xml/3171AAC3.bin
/_ReSharper.auto/XmlIndex/System.Design.4.0.0.0.Nullness.Generated.xml/0CEBBC85.bin
/_ReSharper.auto/XmlIndex/System.Design.xml/8D15D37E.bin
/_ReSharper.auto/XmlIndex/System.Design.xml/E4B07C30.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.2.0.0.0.Nullness.Generated.xml/54893403.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.4.0.0.0.Nullness.Generated.xml/83E902C5.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.Protocols.2.0.0.0.Nullness.Generated.xml/B436AF63.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.Protocols.4.0.0.0.Nullness.Generated.xml/538DBE25.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.Protocols.xml/49BC8260.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.Protocols.xml/E49D2C6E.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.xml/21A5512B.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.xml/8724A025.bin
/_ReSharper.auto/XmlIndex/System.DirectoryServices.xml/B753A939.bin
/_ReSharper.auto/XmlIndex/System.Drawing.2.0.0.0.Contracts.xml/02B3F013.bin
/_ReSharper.auto/XmlIndex/System.Drawing.2.0.0.0.Nullness.Generated.xml/9561BD23.bin
/_ReSharper.auto/XmlIndex/System.Drawing.2.0.0.0.Pure.xml/93CA47E0.bin
/_ReSharper.auto/XmlIndex/System.Drawing.4.0.0.0.Contracts.xml/20F6CE95.bin
/_ReSharper.auto/XmlIndex/System.Drawing.4.0.0.0.Nullness.Generated.xml/00E48EE5.bin
/_ReSharper.auto/XmlIndex/System.Drawing.4.0.0.0.Pure.xml/E085B026.bin
/_ReSharper.auto/XmlIndex/System.Drawing.Design.2.0.0.0.Nullness.Generated.xml/EF361443.bin
/_ReSharper.auto/XmlIndex/System.Drawing.Design.4.0.0.0.Nullness.Generated.xml/CAB02605.bin
/_ReSharper.auto/XmlIndex/System.Drawing.Design.xml/1EACD3B0.bin
/_ReSharper.auto/XmlIndex/System.Drawing.Design.xml/A62E6A7E.bin
/_ReSharper.auto/XmlIndex/System.Drawing.xml/20988A22.bin
/_ReSharper.auto/XmlIndex/System.Drawing.xml/C64EAD2C.bin
/_ReSharper.auto/XmlIndex/System.Drawing.xml/EB5EA13E.bin
/_ReSharper.auto/XmlIndex/System.Dynamic.4.0.0.0.Nullness.Generated.xml/78DD3005.bin
/_ReSharper.auto/XmlIndex/System.EnterpriseServices.2.0.0.0.Nullness.Generated.xml/8A0E0583.bin
/_ReSharper.auto/XmlIndex/System.EnterpriseServices.4.0.0.0.Nullness.Generated.xml/B96DD445.bin
/_ReSharper.auto/XmlIndex/System.EnterpriseServices.xml/45C74617.bin
/_ReSharper.auto/XmlIndex/System.EnterpriseServices.xml/AAFB4459.bin
/_ReSharper.auto/XmlIndex/System.EnterpriseServices.xml/E4A7FDC5.bin
/_ReSharper.auto/XmlIndex/System.I18n.xml/95C2DB9E.bin
/_ReSharper.auto/XmlIndex/System.IdentityModel.3.0.0.0.Nullness.Generated.xml/48A39EA2.bin
/_ReSharper.auto/XmlIndex/System.IdentityModel.4.0.0.0.Nullness.Generated.xml/6DFCE785.bin
/_ReSharper.auto/XmlIndex/System.IdentityModel.Selectors.3.0.0.0.Nullness.Generated.xml/C286C122.bin
/_ReSharper.auto/XmlIndex/System.IdentityModel.Selectors.4.0.0.0.Nullness.Generated.xml/E7E00A05.bin
/_ReSharper.auto/XmlIndex/System.IdentityModel.Selectors.xml/FA733BAB.bin
/_ReSharper.auto/XmlIndex/System.IdentityModel.xml/F4558803.bin
/_ReSharper.auto/XmlIndex/System.Messaging.2.0.0.0.Nullness.Generated.xml/BBE41E23.bin
/_ReSharper.auto/XmlIndex/System.Messaging.4.0.0.0.Nullness.Generated.xml/2766EFE5.bin
/_ReSharper.auto/XmlIndex/System.Messaging.xml/DF985C2C.bin
/_ReSharper.auto/XmlIndex/System.Nullness.Manual.xml/707CFA14.bin
/_ReSharper.auto/XmlIndex/System.Numerics.2.0.5.0.Nullness.Generated.xml/AB63E866.bin
/_ReSharper.auto/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/A49196C5.bin
/_ReSharper.auto/XmlIndex/System.Numerics.xml/39922AE6.bin
/_ReSharper.auto/XmlIndex/System.Numerics.xml/92BC2234.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Caching.4.0.0.0.Nullness.Generated.xml/F6F03305.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Caching.xml/D500C6D7.bin
/_ReSharper.auto/XmlIndex/System.Runtime.DurableInstancing.4.0.0.0.Nullness.Generated.xml/A1FA4345.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Remoting.2.0.0.0.Nullness.Generated.xml/E1F48543.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Remoting.4.0.0.0.Nullness.Generated.xml/BD6E9705.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Remoting.xml/108BDC71.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Remoting.xml/6E88DAED.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Remoting.xml/F78F4B3F.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.2.0.5.0.Nullness.Generated.xml/1616B506.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.3.0.0.0.Nullness.Generated.xml/9C337B82.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.4.0.0.0.Nullness.Generated.xml/F31C05E5.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Attributes.xml/68BC21BF.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Formatters.Soap.2.0.0.0.Contracts.xml/8F45FB93.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Formatters.Soap.2.0.0.0.Nullness.Generated.xml/DFB8B8A3.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Contracts.xml/AD88DA15.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Nullness.Generated.xml/4B3B8A65.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/0B20BFDC.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/39AB00CE.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/8B56DCC0.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.xml/3A3D8710.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.xml/8C776582.bin
/_ReSharper.auto/XmlIndex/System.Runtime.Serialization.xml/977AFE86.bin
/_ReSharper.auto/XmlIndex/System.Security.2.0.0.0.Contracts.xml/6F1BB0B3.bin
/_ReSharper.auto/XmlIndex/System.Security.2.0.0.0.Nullness.Generated.xml/BF480683.bin
/_ReSharper.auto/XmlIndex/System.Security.2.0.0.0.Pure.xml/4B7D3F00.bin
/_ReSharper.auto/XmlIndex/System.Security.4.0.0.0.Contracts.xml/CD221335.bin
/_ReSharper.auto/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/EEA7D545.bin
/_ReSharper.auto/XmlIndex/System.Security.4.0.0.0.Pure.xml/9838A846.bin
/_ReSharper.auto/XmlIndex/System.Security.xml/1ABD2CE8.bin
/_ReSharper.auto/XmlIndex/System.Security.xml/87BF9C3A.bin
/_ReSharper.auto/XmlIndex/System.Security.xml/BD5A8E74.bin
/_ReSharper.auto/XmlIndex/System.ServiceModel.2.0.5.0.Nullness.Generated.xml/E3016626.bin
/_ReSharper.auto/XmlIndex/System.ServiceModel.3.0.0.0.Nullness.Generated.xml/339F8DA2.bin
/_ReSharper.auto/XmlIndex/System.ServiceModel.4.0.0.0.Nullness.Generated.xml/58F8D685.bin
/_ReSharper.auto/XmlIndex/System.ServiceModel.xml/96997788.bin
/_ReSharper.auto/XmlIndex/System.ServiceProcess.2.0.0.0.Nullness.Generated.xml/9C97E103.bin
/_ReSharper.auto/XmlIndex/System.ServiceProcess.4.0.0.0.Nullness.Generated.xml/CBF7AFC5.bin
/_ReSharper.auto/XmlIndex/System.ServiceProcess.xml/AB893714.bin
/_ReSharper.auto/XmlIndex/System.ServiceProcess.xml/F86A10DA.bin
/_ReSharper.auto/XmlIndex/System.Transactions.2.0.0.0.Nullness.Generated.xml/B146FE83.bin
/_ReSharper.auto/XmlIndex/System.Transactions.4.0.0.0.Nullness.Generated.xml/E0A6CD45.bin
/_ReSharper.auto/XmlIndex/System.Transactions.xml/63658BBB.bin
/_ReSharper.auto/XmlIndex/System.Transactions.xml/A4E740F5.bin
/_ReSharper.auto/XmlIndex/System.Transactions.xml/AD971069.bin
/_ReSharper.auto/XmlIndex/System.Web.2.0.0.0.Contracts.xml/EB944993.bin
/_ReSharper.auto/XmlIndex/System.Web.2.0.0.0.Nullness.Generated.xml/2BFEC6A3.bin
/_ReSharper.auto/XmlIndex/System.Web.2.0.0.0.Pure.xml/F72CB160.bin
/_ReSharper.auto/XmlIndex/System.Web.4.0.0.0.Contracts.xml/09D72815.bin
/_ReSharper.auto/XmlIndex/System.Web.4.0.0.0.Nullness.Generated.xml/97819865.bin
/_ReSharper.auto/XmlIndex/System.Web.4.0.0.0.Pure.xml/43E819A6.bin
/_ReSharper.auto/XmlIndex/System.Web.ApplicationServices.4.0.0.0.Nullness.Generated.xml/42F88D65.bin
/_ReSharper.auto/XmlIndex/System.Web.ApplicationServices.xml/8A31B826.bin
/_ReSharper.auto/XmlIndex/System.Web.Attributes.xml/3D4CB43F.bin
/_ReSharper.auto/XmlIndex/System.Web.I18n.xml/B3DEA21E.bin
/_ReSharper.auto/XmlIndex/System.Web.RegularExpressions.xml/0C539E47.bin
/_ReSharper.auto/XmlIndex/System.Web.RegularExpressions.xml/DB466009.bin
/_ReSharper.auto/XmlIndex/System.Web.Services.2.0.0.0.Nullness.Generated.xml/EA91A383.bin
/_ReSharper.auto/XmlIndex/System.Web.Services.4.0.0.0.Nullness.Generated.xml/19F17245.bin
/_ReSharper.auto/XmlIndex/System.Web.Services.Attributes.xml/455D8A5F.bin
/_ReSharper.auto/XmlIndex/System.Web.Services.xml/0CCE8552.bin
/_ReSharper.auto/XmlIndex/System.Web.Services.xml/11BD131C.bin
/_ReSharper.auto/XmlIndex/System.Web.xml/94F003BC.bin
/_ReSharper.auto/XmlIndex/System.Web.xml/B4A85432.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.2.0.0.0.Contracts.xml/E6952B13.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.2.0.0.0.Nullness.Generated.xml/D5D55823.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.2.0.0.0.Pure.xml/6C3AA2E0.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.4.0.0.0.Contracts.xml/04D80995.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.4.0.0.0.Nullness.Generated.xml/415829E5.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.4.0.0.0.Pure.xml/B8F60B26.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.I18n.xml/48D3139E.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.Manual.xml/96E451EA.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.xml/06B9DB76.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.xml/1AED4E6A.bin
/_ReSharper.auto/XmlIndex/System.Windows.Forms.xml/63D11FF8.bin
/_ReSharper.auto/XmlIndex/System.Xaml.4.0.0.0.Nullness.Generated.xml/7E19F205.bin
/_ReSharper.auto/XmlIndex/System.Xaml.xml/102839C6.bin
/_ReSharper.auto/XmlIndex/System.Xaml.xml/1CFF9B94.bin
/_ReSharper.auto/XmlIndex/System.Xml.2.0.0.0.Contracts.xml/948B7E73.bin
/_ReSharper.auto/XmlIndex/System.Xml.2.0.0.0.Nullness.Generated.xml/A959E643.bin
/_ReSharper.auto/XmlIndex/System.Xml.2.0.0.0.Pure.xml/B7E71040.bin
/_ReSharper.auto/XmlIndex/System.Xml.2.0.5.0.Contracts.xml/2219CF76.bin
/_ReSharper.auto/XmlIndex/System.Xml.2.0.5.0.Nullness.Generated.xml/0EDC87A6.bin
/_ReSharper.auto/XmlIndex/System.Xml.2.0.5.0.Pure.xml/44696C25.bin
/_ReSharper.auto/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/5DA5BBF5.bin
/_ReSharper.auto/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/84D3F805.bin
/_ReSharper.auto/XmlIndex/System.Xml.4.0.0.0.Pure.xml/1C827986.bin
/_ReSharper.auto/XmlIndex/System.Xml.Attributes.xml/62F15F9F.bin
/_ReSharper.auto/XmlIndex/System.Xml.I18n.xml/8BCCFCFE.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.2.0.5.0.Contracts.xml/07A66DB6.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.2.0.5.0.Nullness.Generated.xml/F59B92E6.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.2.0.5.0.Pure.xml/4D10A7E5.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.3.5.0.0.Contracts.xml/69F171B7.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.3.5.0.0.Nullness.Generated.xml/04C4E707.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.3.5.0.0.Pure.xml/27886F84.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.4.0.0.0.Contracts.xml/1999FF35.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.4.0.0.0.Nullness.Generated.xml/EEC94145.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.4.0.0.0.Pure.xml/130D1446.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.I18n.xml/EABE84BE.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.xml/54FED853.bin
/_ReSharper.auto/XmlIndex/System.Xml.Linq.xml/FE738201.bin
/_ReSharper.auto/XmlIndex/System.Xml.xml/04D220BB.bin
/_ReSharper.auto/XmlIndex/System.Xml.xml/AE3A5AA7.bin
/_ReSharper.auto/XmlIndex/System.Xml.xml/D51FDE35.bin
/_ReSharper.auto/XmlIndex/System.xml/143D5FB0.bin
/_ReSharper.auto/XmlIndex/System.xml/20F41322.bin
/_ReSharper.auto/XmlIndex/System.xml/A66B4B7E.bin
/_ReSharper.auto/XmlIndex/System.xml/CDD6E5AC.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.0.0.Contracts.xml/33F1CB13.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.0.0.Interfaces.Nullness.Generated.xml/A630B85B.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.0.0.Nullness.Generated.xml/8565F823.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.0.0.Pure.xml/253342E0.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.5.0.Contracts.xml/49FDFA16.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.5.0.Interfaces.Nullness.Generated.xml/927D731E.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.5.0.Nullness.Generated.xml/13E37906.bin
/_ReSharper.auto/XmlIndex/mscorlib.2.0.5.0.Pure.xml/39327DC5.bin
/_ReSharper.auto/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/5234A995.bin
/_ReSharper.auto/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/083B59DD.bin
/_ReSharper.auto/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/F0E8C9E5.bin
/_ReSharper.auto/XmlIndex/mscorlib.4.0.0.0.Pure.xml/71EEAB26.bin
/_ReSharper.auto/XmlIndex/mscorlib.I18n.xml/632BB39E.bin
/_ReSharper.auto/XmlIndex/mscorlib.Nullness.Manual.xml/63AED214.bin
/_ReSharper.auto/XmlIndex/mscorlib.ValueFlow.xml/42C63529.bin
/_ReSharper.auto/XmlIndex/mscorlib.xml/029B5D2E.bin
/_ReSharper.auto/XmlIndex/mscorlib.xml/AC9174A0.bin
/_ReSharper.auto/XmlIndex/mscorlib.xml/B4F38832.bin
/_ReSharper.auto/XmlIndex/mscorlib.xml/E0ED237E.bin
*.suo
*.DotSettings
*\obj
*\bin
*\obj\*
*\bin\*
000005.sst
000009.log
LOCK
LOG
MANIFEST-000007
